apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-assets-fallback
  namespace: argocd
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /argocd/$1
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  ingressClassName: nginx
  rules:
    - host: my-platform.local
      http:
        paths:
          - path: /?(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: argocd-server
                port:
                  number: 80
