{{- if .Values.registry.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Chart.Name }}
spec:
  type: {{ .Values.registry.service.type }}
  ports:
  - port: {{ .Values.registry.service.port }}
    targetPort: 5000
    protocol: TCP
    name: registry
  selector:
    app: {{ .Chart.Name }}
{{- end }}