registry:
  enabled: true
  image:
    repository: registry
    tag: "2.8.3"
    pullPolicy: IfNotPresent

  replicas: 1

  service:
    type: ClusterIP
    port: 5000

  storage:
    persistence:
      enabled: true
      size: 10Gi
      storageClass: standard

  ingress:
    enabled: false

ui:
  enabled: true
  image:
    repository: klausmeyer/docker-registry-browser
    tag: "1.7.0"
    pullPolicy: IfNotPresent

  service:
    type: ClusterIP
    port: 80

  ingress:
    enabled: true
    className: nginx
    host: my-platform.local
    path: /registry-ui
