argo-cd:
  global:
    domain: my-platform.local

  server:
    extraArgs:
      - --insecure
      - --basehref=/argocd

    service:
      type: ClusterIP

    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        nginx.ingress.kubernetes.io/ssl-redirect: "false"
        nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
        nginx.ingress.kubernetes.io/rewrite-target: /$2
      hosts:
        - my-platform.local
      paths:
        - /argocd(/|$)(.*)
      pathType: ImplementationSpecific
      https: false

  repoServer:
    replicas: 1

  controller:
    replicas: 1

  redis-ha:
    enabled: false

  redis:
    enabled: true

  notifications:
    enabled: false
