argo-cd:
  global:
    domain: argocd.local

  server:
    replicas: 1
    extraArgs:
      - --insecure

    # For local access
    service:
      type: NodePort
      nodePortHttp: 30080
      nodePortHttps: 30443

    ingress:
      enabled: false

  repoServer:
    replicas: 1

  controller:
    replicas: 1

  redis-ha:
    enabled: false

  redis:
    enabled: true

  notifications:
    enabled: false
