argo-cd:
  global:
    domain: my-platform.local

  configs:
    cm:
      url: "http://my-platform.local/argocd"
    params:
      server.insecure: true

  server:
    extraArgs: []

    service:
      type: ClusterIP

    ingress:
      enabled: false

  repoServer:
    replicas: 1

  controller:
    replicas: 1

  redis-ha:
    enabled: false

  redis:
    enabled: true

  notifications:
    enabled: false
