argo-cd:
  global:
    domain: my-platform.local

  configs:
    cm:
      url: "http://my-platform.local/argocd"
    params:
      server.insecure: true
      server.rootpath: /argocd

  server:
    extraArgs: []

    service:
      type: ClusterIP

    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        nginx.ingress.kubernetes.io/ssl-redirect: "false"
        nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      hosts:
        - my-platform.local
      paths:
        - /argocd
      pathType: Prefix
      https: false

  repoServer:
    replicas: 1

  controller:
    replicas: 1

  redis-ha:
    enabled: false

  redis:
    enabled: true

  notifications:
    enabled: false
