argo-cd:
  global:
    domain: my-platform.local

  configs:
    cm: {}

  server:
    extraArgs:
      - --insecure
      - --rootpath=/argocd
      - --basehref=/argocd

    service:
      type: ClusterIP

    ingress:
      enabled: false

  repoServer:
    replicas: 1

  controller:
    replicas: 1

  redis-ha:
    enabled: false

  redis:
    enabled: true

  notifications:
    enabled: false
